td {
  text-align: center;
}
.btn {
  padding: 5px;
  border-radius: 10px;
  background-color: crimson;
  border: none;
  color: #fff;
  cursor: pointer;
}
.header_box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.btn2 {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  border: none;
  background-color: greenyellow;
  margin: 7px;
  cursor: pointer;
}
.btn3 {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  border: none;
  background-color: cornflowerblue;
  margin: 7px;
  cursor: pointer;
}
input{
    cursor: pointer;
}
